body {
    background-color: #030115;
}

.hackclublogo {
    left:0;
    top:0;
    position:absolute;
    transition:0.5s ease;
}

.hackclublogo:hover {
    transform:scale(1.1);
}

.logo {
      max-width: 800px;
      min-width: 150px;
      width: 100%;
      height: auto;
      filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.5));
      z-index: 10;
      transition: transform 0.3s ease-in-out;
      user-drag: none;
      margin-left:auto;
      margin-right:auto;
      position:relative;
      margin-top: 50%;
      -webkit-user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
}

.top-decor {
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
}

header {
      background-image: var(--bg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
    }

.container {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }


.logo:hover {
      transform: scale(1.1);
}

h3 {
    color:white;
}