---
import { Image } from "astro:assets";
import HackClub from "./public/hackclub.svg";
import TopDecor from "./public/hero.png";
import Logo from "./public/logo.svg";
import "../styles/styles.css";
import Instructions from "../components/instructions.astro";
---

<html>
	<body>
		<header>
			<main class="container">
				<Image alt="" src={TopDecor} alt="topdecor" class="top-decor"/>
				<a class="hackclublogo" href="https://hackclub.com">
					<img src={HackClub.src}>
				</a>
				<div class="tilt-logo" data-tilt data-tilt-max="15" data-tilt-speed="400">
					<Image alt="" src={Logo} alt="Logo" class="logo" />
				</div>
				<h3>Code a Tamagotchi, get one shipped to you!</h3>
			</main>
		</header>

		<Instructions>
			<div class="container">
				<p>dfsknflsnj
					fksdjfnks
					jndfkajlk
					jnsajsdfb
					lkajsdfkl
					anfksdjns
					dlknfalkjsd
					fnklajnfd</p>
			</div>
		</Instructions>
		
	</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>